body {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/f/f9/Declaration_of_Independence_%281819%29%2C_by_John_Trumbull.jpg/1200px-Declaration_of_Independence_%281819%29%2C_by_John_Trumbull.jpg);
    background-size: cover;
    color: white;
    font-size: 20px;
}

.container-fluid {
    background-color: maroon;
}

#title {
    margin-top: 5%;
    margin-bottom: 40px;
}

#quiz {
    padding: 15px;
}

.answer {
    padding: 5px;
}

.answer:hover {
    background-color: white;
    color: black;
}